# Cowrie SSH honeypot configuration

[honeypot]
hostname = svr04
log_path = var/log/cowrie
download_path = downloads
share_path = share
state_path = var/lib/cowrie
etc_path = etc
contents_path = honeyfs
txtcmds_path = txtcmds
ttylog = true
ttylog_path = var/lib/cowrie/tty
interactive_timeout = 180
authentication_timeout = 120
backend = shell
timezone = UTC

# Fake users and passwords
userdb = etc/userdb.txt

[shell]
filesystem = share/cowrie/fs.pickle
processes = share/cowrie/cmdoutput.json
arch = linux-x64-lsb
kernel_version = 4.9.0-7-amd64
kernel_build_string = #1 SMP Debian 4.9.110-3+deb9u2 (2018-08-13)
hardware_platform = x86_64
operating_system = GNU/Linux

[ssh]
enabled = true
version = SSH-2.0-OpenSSH_7.9p1 Debian-10
listen_endpoints = tcp:2222:interface=0.0.0.0
sftp_enabled = true
forwarding = true
forward_redirect = false

[telnet]
enabled = false

[output_elasticsearch]
enabled = true
host = elasticsearch
port = 9200
index = cowrie
# type is deprecated in ES 7.x
# type = cowrie
# ES 7.x compatibility
index_type = _doc

[output_jsonlog]
enabled = true
logfile = var/log/cowrie/cowrie.json
epoch_timestamp = false
